@import '../../bower_components/Materialize/dist/css/materialize.min.css';

html, body, #main, #menu-wrapper, #game-wrapper{
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	background: #000;
	color: #fff;
}

#menu, #game {
	width: 100%;
}

#menu ul li{
	margin-bottom: 40px;
}

#btn-start{
	color: #ffeb3b;
	font-weight: bold;
	letter-spacing: 2px;
}

#btn-battle{
	margin: 60px 0;
	border: none;
	width: 100px;
	height: 80px;
	background: url('/assets/images/vs.jpg');
	background-size: 100%;
}

#btn-battle:hover{
	background: url('/assets/images/vshover.jpg');
	background-size: 100%;
	cursor: pointer;
}

.player h4{
	font-size: 18px;
	color: #ffeb3b;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

.player .progress{
	margin-top: 10px;
	height: 20px;
}

.player .chip{
	color: #333;
	font-weight: bold;
}

.progress .determinate{
	background-color: #4CAF50;
}